<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHighwayAlerts" />
                <binding name="BasicHttpBinding_IHighwayCameras" />
                <binding name="BasicHttpBinding_IMountainPassConditions" />
                <binding name="BasicHttpBinding_ITrafficFlow" />
                <binding name="BasicHttpBinding_ITravelTimes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.wsdot.wa.gov/traffic/api/HighwayAlerts/HighwayAlerts.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHighwayAlerts"
                contract="Wsdot.Traffic.IHighwayAlerts" name="BasicHttpBinding_IHighwayAlerts" />
            <endpoint address="http://www.wsdot.wa.gov/traffic/api/HighwayCameras/HighwayCameras.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHighwayCameras"
                contract="Wsdot.Traffic.IHighwayCameras" name="BasicHttpBinding_IHighwayCameras" />
            <endpoint address="http://www.wsdot.wa.gov/traffic/api/MountainPassConditions/MountainPassConditions.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMountainPassConditions"
                contract="Wsdot.Traffic.IMountainPassConditions" name="BasicHttpBinding_IMountainPassConditions" />
            <endpoint address="http://www.wsdot.wa.gov/traffic/api/TrafficFlow/TrafficFlow.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrafficFlow"
                contract="Wsdot.Traffic.ITrafficFlow" name="BasicHttpBinding_ITrafficFlow" />
            <endpoint address="http://www.wsdot.wa.gov/traffic/api/TravelTimes/TravelTimes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelTimes"
                contract="Wsdot.Traffic.ITravelTimes" name="BasicHttpBinding_ITravelTimes" />
        </client>
    </system.serviceModel>
</configuration>